*{
    font-family: 'Open Sans', sans-serif;

}
/* banner section */
.header{
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    margin-top: 0px;
   
   
}

.text-header{
    padding-top: 150px;
    margin-left: 845px;
    margin-right: 200px;
    text-align: right;
    color: white;
}

.main-title{
    font-size: 50px;
    font-weight: 600px;
}
.primary-btn{
    margin-top: 20px;
    border: 0;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    color: #005FAC;
    font-weight: bold;
}

/* flex section img and text */
.img-text{
    display: flex;
    gap: 80px;
}

.first-img{
    margin-top: 180px;
    margin-left: 200px;
}

.text-area{
    margin-top: 300px;
    margin-right: 320px;
}
.main-titles{
    font-size: 40px;
    font-weight: 700px;
}

.flex-para{
    font-size: 16px;
    color: #444343;
}

/* skill section */
.first-title{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-top: 100px;
}

.skill-flex{
    margin-top: 50px;
    display: flex;
    margin-left: 300px;
    gap: 120px;
    margin-right: 300px;
}

.skill-flex h3{
    font-size: 18px;
    text-align: center;
}

.skill-flex p{
    text-align: center;
}
.skill-flex img{
    padding-left: 25px;
}
