*{
    font-family: 'Open Sans', sans-serif;

}
/* banner section */
.header{
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    margin-top: 0px;
   
   
}

.text-header{
    padding-top: 150px;
    margin-left: 845px;
    margin-right: 200px;
    text-align: right;
    color: white;
}

.main-title{
    font-size: 50px;
    font-weight: 600px;
}
.primary-btn{
    margin-top: 20px;
    border: 0;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    color: #005FAC;
    font-weight: bold;
}

/* flex section img and text */
.img-text{
    display: flex;
    gap: 80px;
}

.first-img{
    margin-top: 180px;
    margin-left: 200px;
}

.text-area{
    margin-top: 300px;
    margin-right: 320px;
}
.main-titles{
    font-size: 40px;
    font-weight: 700px;
}

.flex-para{
    font-size: 16px;
    color: #444343;
}

/* skill section */
.first-title{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-top: 100px;
}

.skill-flex{
    margin-top: 50px;
    display: flex;
    margin-left: 300px;
    gap: 120px;
    margin-right: 300px;
}

.skill-flex h3{
    font-size: 18px;
    text-align: center;
}

.skill-flex p{
    text-align: center;
}
.skill-flex img{
    padding-left: 25px;
}

/* gradient section */
.gradient-overlay{
    position: relative;
}

#Gradient-overlay{
    
    background-image:
    linear-gradient(to bottom, rgba(57, 87, 255, 0.52), rgba(128, 255, 124, 0.841)),
    url('images/watch.png');
    width: 65%;
    height: 250px;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-top: 130px;
    margin-left: 250px;
    border-radius: 10px;
}

.gradien-title{
    font-size: 35px;
    margin-right: 500px;
    padding-left: 50px;
}

.g-button{
    border: 0;
    padding: 20px;
    background: white;
    margin-left: 50px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    
}

/* foote section */

.pro-footer{
    margin-right: 350px;
    margin-left: 100px;
    padding: 100px;
}
.pro-footer a{
 text-decoration: none;
 margin-top: 100px;
}

.footer-flex{
    margin-top: 100px;
    display: flex;
    background: rgb(0, 0, 0);
}

.form-edit{
    width: 250px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    
}

.sub-line{
    margin-top: 110px;
    margin-right: 250px;
}

.sub-btn{
    margin-top: 20px;
    border: 0;
    color:white;
    background: #005FAC;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
}

.Main-tit{
    font-size: 30px;
    font-weight: 600px;
    color: white;
}

.subs-tit{
    font-size: 25px;
    font-weight: 600px;
    color: white;
}

.text-sty{
    text-align: justify;
    color: white;
}